body {
    margin: 0;
    padding: 0;
}

.logo {
    float: left;
    margin-top: 5px;
    height: 25px;
}

h1 {
    color: black;
    line-height: 147px;
    font-size: 64px;
    vertical-align: center;
}

header {
    background-color: #435346;
    height: 147px;
    text-align: center;
}

nav {
    background-color: #4B6550;
    text-align: center;
    height: 50px;
    vertical-align: center;
    line-height: 50px;
}

p {
    font-size: 24px;
    margin-left: 50px;
}  

aside {
    margin-top: 15px;
    text-align: right;
}

h2 {
    font-style: bold;
    font-size: 32px;
    margin: 15px;
}

footer {
    background-color: #4B6550;
    color: white;
    text-align: center;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
}

a {
    font-size: 32px;
    text-decoration: none;
    color: white;
    margin-right: 15px;
    margin-left: 15px;
    text-align: auto;
}

h3 {
    font-size: 23px;
    font-style: bold;
    margin: 15px;
}